{{ define "main" }}
<h3>{{ .Title }}</h3>
{{ .Content }}
<br>
<hr>
<details>
    <summary><i>Try it out!</i></summary>
    <ol>
      <li>
      Install the toolchain:<br>
        <ul>
          <li>
            For macOS and Linux, run our script:
          </li>
            <pre>curl -L https://raw.githubusercontent.com/lambdaclass/cairo-by-example/main/build/installer.sh | bash</pre>
          <li>
            For Windows and others, please see <a href="https://www.cairo-lang.org/docs/getting_started/prerequisits.html">the official guide</a>
          </li>
        </ul>
      </li>
      <li>
      Run the example:
      <ol>
        <li>Copy the example into a <b><i>filename</i>.cairo</b> file and run with:</li>
        {{ if eq .Params.example_type "main" }}
          <pre>cairo-run <i>filename</i>.cairo</pre>
        {{ else if eq .Params.example_type "test" }}
          <pre>cairo-test <i>filename</i>.cairo</pre>
        {{ end }}
      </ol>
      </li>
    </ol>
</details>
<br>

{{- $prev := .NextInSection }}
{{- $next := .PrevInSection }}
<div style="display: flex; justify-content: space-between;">
    {{- if $prev }}
    <a href="{{ $prev.Permalink }}">prev ({{ $prev.Title }})</a>
    {{- else }}
    <p>...</p>
    {{- end }}

    {{- if $next }}
    <a href="{{ $next.Permalink }}">next ({{ $next.Title }})</a>
    {{- else }}
    <p>...</p>
    {{- end }}
</div>

{{ end }}
