{{ define "main" }}
<div>

  {{ $examples := (where .Site.RegularPages.ByWeight "Type" "landing") }}
  {{ range $examples }}
  {{ .Content }}
  {{ end }}

  <div class="resource-list">
    <ul>
      {{ $examples := (where .Site.RegularPages.ByWeight "Type" "examples")}}
      {{ range $examples }}
      <li>
        <a href="{{ .Permalink }}" style="text-transform: capitalize;">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
  <a class="github-fork-ribbon" href="https://github.com/lambdaclass/cairo-by-example" data-ribbon="Fork me on GitHub"
    title="Fork me on GitHub">Fork me on GitHub</a>
</div>
{{ end }}
