{{ define "main" }}
<div>

  <h4>Install cairo-lang</h4>
  Run this command to install cairo on your machine.
  <pre><code>curl -L https://raw.githubusercontent.com/lambdaclass/cairo-by-example/main/build/install.sh | bash</code></pre>

  <h4>An introduction to <a href="https://cairo-lang.org/">Cairo</a>, with simple examples. </h4>
  The objective of this tutorial is to quickly on-board new developers to Cairo. The first experience newcomers have
  with Cairo and Starknet should be smooth and in 15 minutes they should have everything setup and a good overview on what the
  language is all about.
  <h4>Examples:</h4>
  <div class="resource-list">
    <ul>
      {{ $examples := (where .Site.RegularPages.ByWeight "Type" "examples")}}
      {{ range $examples }}
      <li>
        <a href="{{ .Permalink }}" style="text-transform: capitalize;">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
  <a class="github-fork-ribbon" href="https://github.com/lambdaclass/cairo-by-example" data-ribbon="Fork me on GitHub"
    title="Fork me on GitHub">Fork me on GitHub</a>
</div>
{{ end }}
